:root{
 --bg-color:#fff;
 --text-color:#222;
}


/*mode*/

body.light, .jumbotron.light{
    --bg-color:#fff;
    --text-color:#222;
    
}

body.dark, .jumbotron.dark{
    --bg-color:#222;
    --text-color:#fff;
}


/* Estils generals */

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav{
    margin-bottom: 80px;
}

p{text-align: justify;}
img{width: 100%;}

footer{
    background-color: #333;
    min-height: 100px;
    width: 100% !important;
}


/* Classes */

.jumbotron{
    background-color:var(--bg-color);
}
.left{
    float:left;
    margin-right: 50px;
}
.clear{
    clear:both;
}
.eti{
    font-weight: bold ;
} 


.mlateral{
    position: sticky;top: 45px; display: block;
}

.card-list{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
    border: 1px solid var(--text-color);
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;

}

.card-title{
    text-align: center;
    text-transform: capitalize;
}

/* Id */
#main{
    margin: 50px;
}




/* Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


